header.forecast {
  @include page-width();

  h1, a.president, a.senate {
    margin: 0;
    display: inline-block;
    padding-right: 1rem;
    font-family: $header-font-family;
    font-size: 3.5rem;
    line-height: 4.5rem;
    text-transform: uppercase;
    text-align: left;
    text-decoration: underline;
  }

  h1 {
    color: $color;
  }

  a.president, a.senate {
    color: $very-muted-color;
  }

  h2 {
    font-family: $header-font-family;
    text-transform: uppercase;
    color: $strong-dem;
    font-size: 1.2rem;
    line-height: 1rem;
    margin-top: 4rem;
    margin-bottom: 0px;
  }

  .byline {
    color: $muted-color;
    font-style: italic;
    font-family: $nav-font-family;
    font-size: 1rem;
    line-height: 1.5rem;
    margin: .5rem 0;
  }

  .date {
    color: $muted-color;
    text-transform: uppercase;
    font-family: $nav-font-family;
    font-size: .8rem;
    line-height: 1.5;
    margin: 0;
  }
}
