nav {
  background: $nav-background;
  border-bottom: 1px solid #ccc;
  color: $nav-color;
  font-family: $nav-font-family;
  padding: .5rem;
  height: 4rem;
  display: -webkit-flex;
  display: flex;
  &>* {
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  a.nav-logo {
    display: block;
    width: 4.5rem; // copy share-buttons width, so center text is centered
    height: 4rem;
    position: relative;

    img {
      display: block;
      position: absolute;
      top: .5rem;
      left: .5rem;
      width: 3rem;
      height: 3rem;
    }
  }

  .share-buttons {
    padding-top: 1rem;
    line-height: 1.75rem;
    white-space: nowrap;
    width: 4.5rem; // didn't calculate this one -- scraped it from the page

    button {
      margin-right: .5rem;
    }
  }

  h2.election-header {
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;

    margin: 0;
    padding: 1rem;
    font-size: 2rem;
    line-height: 1;
    text-align: center;
    width: 100%;
    font-family: $header-font-family;
    text-transform: uppercase;

    .dem { color: $strong-dem; }
    .gop { color: $strong-gop; }
  }
}
