nav {
  background: $nav-background;
  border-bottom: 1px solid #ccc;
  color: $nav-color;
  font-family: $nav-font-family;
  padding: .5rem;
  height: 4rem;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;

  a {
    font-size: 0; // We show image, not text
    line-height: 0; // Also because we show image, not text
    display: inline-block;
  }

  .nav-logo {
    -webkit-flex: 2 2 auto;
    flex: 2 2 auto;
    display: -webkit-flex;
    display: flex;

    a {
      max-height: 2rem;
      padding: 0 .5rem;

      // center the <img> vertically
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: column;
      flex-direction: column;
      -webkit-justify-content: center;
      justify-content: center;

      // only show "desktop" or "mobile" logo, never both
      &.only-desktop { display: none; }
      @media (min-width: $min-desktop-width) {
        &.only-desktop { display: -webkit-flex; display: flex; }
        &.only-mobile { display: none; }
      }
    }

    img {
      display: block;
      min-height: 4rem;
      max-width: 100%;
      width: auto;
      padding-top: 1.7rem;
    }
  }

  .share-buttons {
    padding-top: 1.1rem;
    line-height: 1.7rem;
    white-space: nowrap;

    button {
      background: $nav-background;
      margin-right: .5rem;
      color: black;
    }
  }
}


    .election-header {
      margin: .7rem auto;
      text-align: center;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      flex-direction: row;
      -webkit-justify-content: center;
      justify-content: center;
      width: 100%;


      .election-header-text {
        font-family: $header-font-family;
      text-transform: uppercase;
      font-size: 1.5rem;
      margin: auto;
      .election-header-blue {
        color: $muted-dem;

      }
      .election-header-red {
        color: $strong-gop;
      }
    }
}