#senate-races {
  $line-height: 2rem;
  $marker-width: .5rem;
  $half-marker-width: $marker-width / 2;
  $state-width: 2rem;

  .container {
    position: relative;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: $line-height;

    &>li {
      display: -webkit-flex;
      display: flex;
    }
  }

  .state-code {
    width: $state-width;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .probability {
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    padding-left: $half-marker-width + .5rem;
    padding-right: $half-marker-width + .5rem;

    .box {
      height: 2 * $marker-width;
      position: relative;
    }

    .marker {
      position: absolute;
      display: inline-block;
      top: ($line-height / 2) - $half-marker-width - .1rem;
      height: $marker-width;
      width: $marker-width;
      margin-left: -$half-marker-width;
      border-radius: $half-marker-width;

      &.lean-dem {
        background: $strong-dem;
      }

      &.lean-gop {
        background: $strong-gop;
      }

      &.toss-up {
        background: $toss-up;
      }
    }
  }

  .axis-50 {
    position: absolute;
    z-index: -1;
    left: $state-width;
    top: 0;
    right: 0;
    bottom: 0;

    &::before {
      content: '';
      position: absolute;
      left: 50%;
      top: 0;
      bottom: 0;
      margin-left: -1px;
      width: 2px;
      background: $alt-background;
    }
  }

  svg {
    rect.dem {
      stroke: none;
      fill: $strong-dem;
      opacity: .2;
    }

    rect.gop {
      stroke: none;
      fill: $strong-gop;
      opacity: .2;
    }

    path.diff {
      stroke: black;
      stroke-width: 6px;
      fill: none;
    }

    path.sample {
      stroke: #333;
      stroke-width: 3px;
      opacity: .04;
      fill: none;
    }

    path.x-axis {
      stroke: black;
      stroke-width: 1px;
      fill: none;
    }

    path.x-updated-at, path.x-start-day, path.x-election-day {
      stroke: black;
      stroke-width: 1px;
      stroke-dasharray: 10, 10;
      fill: none;
    }

    circle.poll {
      stroke: none;
      fill: $toss-up;
    }
  }

  .chart-container {
    background: $background;
    border: 1px solid black;
    line-height: 1;

    .grid {
      position: relative;
      padding-left: 2rem; // for y-axis
    }

    .y-axis {
      position: absolute;
      left: 0;
      top: 0;
      width: 2rem;
      bottom: 0;

      .min, .max, .zero {
        position: absolute;
        left: 0;
        width: 2rem;
        text-align: right;
      }

      .max { top: 0; }
      .zero { top: 50%; height: 1rem; margin-top: -.5rem; }
      .min { bottom: 0; }
    }
  }

  ol.calculations {
    margin: 0;
    padding: 0;
    list-style: none;

    span.dem, span.gop, span.undecided {
      font-weight: bold;
    }

    li {
      line-height: 1.5;
      margin: .5rem 0;
    }

    span.dem { color: $strong-dem; }
    span.gop { color: $strong-gop; }
    span.undecided { color: $toss-up; }
  }
}
