#senate-races {
  $marker-width: 1rem;
  $half-marker-width: $marker-width / 2;
  $state-width: 3rem;
  $collapsed-height: 2rem;

  @include full-width();

  &>* {
    @include page_width();
  }

  .container {
    margin: 0 auto; // nix margins on mobile
    position: relative;
  }

  @mixin chart-label() {
    font-size: .85rem;
    line-height: 1rem;
    color: $muted-color;
    text-transform: uppercase;
    font-style: italic;
  }

  label, input {
    cursor: pointer;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    &>li {
      position: relative;
      border-top: 1px solid $border-color;
      &:last-child {
        border-bottom: 1px solid $border-color;
      }
    }
  }

  .state-code {
    display: inline-block;
    box-sizing: border-box;
    padding-left: 1rem;
    width: $state-width;
    line-height: $collapsed-height;
    height: $collapsed-height;
    font-family: $header-font-family;
    font-size: 1.2rem;
  }

  input.expand {
    position: absolute;
    box-sizing: border-box;
    right: 0;
    width: $state-width;
    top: 0;
    height: $collapsed-height;
    opacity: 0;
  }

  // "expand/collapse" down-arrow, over the input.expand
  .content-to-expand::before {
    pointer-events: none; // make clicks happen on the input.expand
    content: '';
    display: inline-block;
    box-sizing: border-box;
    position: absolute;
    right: 1rem;
    top: $collapsed-height / 4;
    width: $collapsed-height / 2;
    height: $collapsed-height / 2;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="8"><path d="M1,2L4,5L7,2" stroke="%23ccc" stroke-width="1.5" fill="none"/></svg>');
    background-size: 100%;
    transition: transform 150ms ease-in-out;
  }

  input.expand:checked + .content-to-expand::before {
    transform: scaleY(-1);
  }

  label.probability {
    display: block;
    position: absolute;
    left: $state-width + $half-marker-width;
    right: $state-width + $half-marker-width;
    top: 0;
    height: $collapsed-height;

    .box {
      display: block;
      height: $collapsed-height;
      position: relative;

      // 50% mark
      &::before {
        content: '';
        position: absolute;
        left: 50%;
        top: 0;
        bottom: 0;
        margin-left: -.5px;
        width: 1px;
        background: $border-color;
      }
    }

    .marker {
      position: absolute;
      display: inline-block;
      box-sizing: border-box;
      top: $collapsed-height / 2 - $half-marker-width;
      height: $marker-width;
      width: $marker-width;
      margin-left: -$half-marker-width;
      border-radius: $half-marker-width;
      border: 1px solid black;
    }
  }

  .lean-dem .marker { background: $strong-dem; }
  .lean-gop .marker { background: $strong-gop; }
  .toss-up .marker { background: $toss-up; }

  svg.arrow {
    path {
      stroke: none;
      fill: $very-muted-color;
    }
  }

  svg.plot {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    rect.dem {
      stroke: none;
      fill: $background-dem;
    }

    rect.gop {
      stroke: none;
      fill: $background-gop;
    }

    path.diff {
      stroke: black;
      stroke-width: 6px;
      fill: none;
    }

    path.sample {
      stroke: #333;
      stroke-width: 1.2px;
      opacity: .1;
      fill: none;
    }

    path.x-axis {
      stroke: black;
      stroke-width: 1px;
      fill: none;
    }

    path.x-updated-at, path.x-start-day, path.x-election-day {
      stroke: black;
      stroke-width: 1px;
      stroke-dasharray: 10, 10;
      fill: none;
    }

    circle.poll {
      stroke: $color;
      stroke-width: 2px;
      fill: $toss-up;
    }
  }

  .content-to-expand {
    max-height: $collapsed-height;
    transition: max-height 150ms ease-in-out, background-color 150ms ease-in-out, margin-bottom 150ms ease-in-out;
    background-color: $background;
    overflow: hidden;
  }

  input.expand:checked + .content-to-expand {
    max-height: 50rem;
    background-color: $alt-background;
    margin-bottom: .5rem;
  }

  .details {
    background: $background; // cover the vertical line running down the page
    border-top: 1px dotted $border-color;
    border: .25rem solid $alt-background;
  }

	h4 {
    margin-top: .75rem;
    padding: 0 .75rem;
    line-height: 1.5;

    strong.probability {
      display: inline-block;
      margin-left: -.25rem;
      font-weight: bold;
      padding: 0 .25rem;
      color: white;
    }
	}

  .lean-dem strong.probability { background: $strong-dem; }
  .lean-gop strong.probability { background: $strong-gop; }
  .toss-up strong.probability { background: $toss-up; }

  .chart-container {
    $x-axis-height: 2.25rem;
    $today-height: 2.25rem;

    background: $background;
    line-height: 1;
    margin: .75rem;

    .y-axis-and-rest {
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: center;
      justify-content: center;
      padding: .5rem 0;
    }

    .rest {
      -webkit-flex: 1 1 auto;
      flex: 1 1 auto;
    }

    .x-axis {
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: flex-end;
      align-items: flex-end;
      height: $x-axis-height;
      padding-bottom: .25rem;
      white-space: nowrap;
      position: relative;
      line-height: 1rem;

      div.arrow {
        -webkit-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: .2rem;
        height: .4rem;
        position: relative;
      }

      svg.arrow {
        display: block;
        height: 100%;
        width: 100%;
      }

      .label-election-day {
        position: absolute;
        top: 0;
        right: 0;
        @include chart-label();
      }
    }

    .today {
      height: $today-height;
      position: relative;
      text-align: right;

      .today-inner {
        position: absolute;
        bottom: 0;
        padding-right: .75rem;
        left: -7rem; // don't wrap on mobile

        &::before {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          right: -.5px;
          height: .5rem;
          width: .5rem;
          border-right: 1px dashed $muted-color;
          border-bottom: 1px dashed $muted-color;
        }
      }

      .label {
        @include chart-label();
      }

      .spread {
        padding-left: .25rem;
      }

      .dem-lead { color: $strong-dem; }
      .gop-lead { color: $strong-gop; }
      .toss-up { color: $toss-up; }
    }

    .y-axis {
      display: -webkit-flex;
      display: flex; // to vertically center .label
      -webkit-align-items: center;
      align-items: center;
      position: relative;
      top: -.125rem; // tweak baseline of Source Sans Pro

      .label {
        white-space: nowrap;
        @include chart-label();
        padding-right: 1.5rem;
      }

      .values {
        // Put the axis where it belongs
        position: absolute;
        box-sizing: border-box;
        right: .25rem;
        top: $x-axis-height - .5rem;
        bottom: $today-height - .5rem;
        width: 100%;

        // Align the labels
        // line-height is 1rem and we added an extra .5rem at the top and bottom;
        // that's so the labels all center at their values.
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-justify-content: space-between;
        justify-content: space-between;

        line-height: 1rem;
        text-align: right;
        font-weight: bold;
      }

      .max-dem { position: relative; top: .5rem; }
      .max-gop { position: relative; bottom: .5rem; }

      .max-dem, .mid-dem { color: $strong-dem; }
      .max-gop, .mid-gop { color: $strong-gop; }
    }

    div.plot {
      position: relative;
      width: 100%;

      &::before {
        content: '';
        display: block;
        height: 0;
        padding-bottom: 60%;
      }
    }
  }

  .legend {
    margin: .75rem;
    font-size: .9rem;
    line-height: 1.5;
    color: $muted-color;
    font-style: italic;

    .legend-def {
      display: inline-block;

      svg {
        display: inline-block;
        height: 1rem;
        width: auto;
      }

      svg.legend-thread path { fill: none; stroke: $toss-up; stroke-width: 1px; }
      svg.legend-average path { fill: none; stroke: $color; stroke-width: 5px; }
      svg.legend-poll circle { fill: $toss-up; stroke: $color; stroke-width: 2px; }
      svg.legend-poll { vertical-align: -2px; }
    }
  }

  ol.calculations {
    margin: 0;
    padding: 0;
    list-style: none;

    span.dem, span.gop, span.undecided {
      font-weight: bold;
    }

    li {
      line-height: 1.5;
      margin: .75rem;
    }

    span.dem { color: $strong-dem; }
    span.gop { color: $strong-gop; }
    span.undecided { color: $toss-up; }
  }
}
