#senate-races {
  $line-height: 2rem;
  $marker-width: .5rem;
  $half-marker-width: $marker-width / 2;
  $state-width: 2rem;

  .container {
    position: relative;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: $line-height;

    &>li {
      display: -webkit-flex;
      display: flex;
    }
  }

  .state-code {
    width: $state-width;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .probability {
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    padding-left: $half-marker-width + .5rem;
    padding-right: $half-marker-width + .5rem;
    position: relative;

    .box {
      height: 2 * $marker-width;
      position: relative;
    }

    &.lean-dem .marker { background: $strong-dem; }
    &.lean-gop .marker { background: $strong-gop; }
    &.toss-up .marker { background: $toss-up; }

    .marker {
      position: absolute;
      display: inline-block;
      top: ($line-height / 2) - $half-marker-width - .1rem;
      height: $marker-width;
      width: $marker-width;
      margin-left: -$half-marker-width;
      border-radius: $half-marker-width;
    }
  }

  .axis-50 {
    position: absolute;
    z-index: -1;
    left: $state-width;
    top: 0;
    right: 0;
    bottom: 0;

    &::before {
      content: '';
      position: absolute;
      left: 50%;
      top: 0;
      bottom: 0;
      margin-left: -1px;
      width: 2px;
      background: $alt-background;
    }
  }

  svg.arrow {
    path {
      stroke: none;
      fill: $very-muted-color;
    }
  }

  svg.plot {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    rect.dem {
      stroke: none;
      fill: $strong-dem;
      opacity: .2;
    }

    rect.gop {
      stroke: none;
      fill: $strong-gop;
      opacity: .2;
    }

    path.diff {
      stroke: black;
      stroke-width: 6px;
      fill: none;
    }

    path.sample {
      stroke: #333;
      stroke-width: 3px;
      opacity: .04;
      fill: none;
    }

    path.x-axis {
      stroke: black;
      stroke-width: 1px;
      fill: none;
    }

    path.x-updated-at, path.x-start-day, path.x-election-day {
      stroke: black;
      stroke-width: 1px;
      stroke-dasharray: 10, 10;
      fill: none;
    }

    circle.poll {
      stroke: none;
      fill: $toss-up;
    }
  }

  li[data-state-code]:hover .details {
    display: block;
  }

  li[data-state-code=NC] .details {
    display: block;
  }

  .details {
    display: none;
    z-index: 1;
    border: 1px solid black;
    background: $background;
    box-sizing: border-box;
    min-width: 90%;
    max-width: 100%;
    padding: 1.5rem;
    position: absolute;
    top: 2.5rem;

    &>.arrow {
      position: absolute;
      display: inline-block;
      background: $background;
      top: 0;
      box-sizing: border-box;
      height: 1.5rem;
      width: 1.5rem;
      margin-top: -.75rem;
      border: 1px solid $background;
      border-top-color: black;
      border-right-color: black;
    }
  }

  .lean-dem .details>.arrow {
    transform: scaleX(-1) skewY(-45deg);
  }

  .lean-gop .details>.arrow {
    transform: skewY(-45deg);
    margin-left: -1.5rem; // center where we're pointing
  }

  .toss-up .details .arrow {
    transform: rotate(-45deg);
    margin-left: -.75rem; // center where we're pointing
  }

  .chart-container {
    $x-axis-height: 2.25rem;
    $today-height: 2rem;

    background: $background;
    line-height: 1;

    .y-axis-and-rest {
      display: -webkit-flex;
      display: flex;
    }

    .rest {
      -webkit-flex: 1 1 auto;
      flex: 1 1 auto;
    }

    .x-axis {
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: flex-end;
      align-items: flex-end;
      height: $x-axis-height;
      padding-bottom: .25rem;
      white-space: nowrap;
      position: relative;
      line-height: 1rem;

      div.arrow {
        -webkit-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: .2rem;
        height: .4rem;
        position: relative;
      }

      svg.arrow {
        display: block;
        height: 100%;
        width: 100%;
      }

      .label-election-day {
        position: absolute;
        top: 0;
        right: 0;
        color: $muted-color;
        text-transform: uppercase;
        font-style: italic;
      }
    }

    .today {
      height: $today-height;
      position: relative;
      text-align: right;

      .today-inner {
        position: absolute;
        top: 0;
        padding-right: .75rem;

        &::before {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          right: -.5px;
          height: .5rem;
          width: .5rem;
          border-right: 1px dashed $muted-color;
          border-bottom: 1px dashed $muted-color;
        }
      }

      .label {
        color: $muted-color;
        text-transform: uppercase;
        font-style: italic;
      }

      .spread {
        padding-left: .25rem;
      }

      .dem-lead { color: $strong-dem; }
      .gop-lead { color: $strong-gop; }
      .toss-up { color: $toss-up; }
    }

    .y-axis {
      display: -webkit-flex;
      display: flex; // to vertically center .label
      -webkit-align-items: center;
      align-items: center;
      position: relative;
      top: -.125rem; // tweak baseline of Source Sans Pro

      .label {
        white-space: nowrap;
        text-transform: uppercase;
        color: $muted-color;
        font-style: italic;
        padding-right: 1.5rem;
      }

      .values {
        // Put the axis where it belongs
        position: absolute;
        box-sizing: border-box;
        right: .25rem;
        top: $x-axis-height - .5rem;
        bottom: $today-height - .5rem;
        width: 100%;

        // Align the labels
        // line-height is 1rem and we added an extra .5rem at the top and bottom;
        // that's so the labels all center at their values.
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-justify-content: space-between;
        justify-content: space-between;

        line-height: 1rem;
        text-align: right;
        font-weight: bold;
      }

      .max-dem { position: relative; top: .5rem; }
      .max-gop { position: relative; bottom: .5rem; }

      .max-dem, .mid-dem { color: $strong-dem; }
      .max-gop, .mid-gop { color: $strong-gop; }
    }

    div.plot {
      position: relative;
      width: 100%;

      &::before {
        content: '';
        display: block;
        height: 0;
        padding-bottom: 60%;
      }
    }
  }

  .legend {
    padding-top: .5rem;
    font-size: .9rem;
    line-height: 1.5;
    color: $muted-color;
    font-style: italic;

    .legend-def {
      display: inline-block;

      svg {
        display: inline-block;
        height: 1rem;
        width: auto;
      }

      svg.legend-thread path { fill: none; stroke: $toss-up; stroke-width: 1px; }
      svg.legend-average path { fill: none; stroke: $color; stroke-width: 5px; }
      svg.legend-poll circle { fill: $toss-up; stroke: none; }
    }
  }

  ol.calculations {
    margin: 0;
    padding: 0;
    list-style: none;

    span.dem, span.gop, span.undecided {
      font-weight: bold;
    }

    li {
      line-height: 1.5;
      margin: .5rem 0;
    }

    span.dem { color: $strong-dem; }
    span.gop { color: $strong-gop; }
    span.undecided { color: $toss-up; }
  }
}
