button.facebook-share, button.twitter-share {
  &, &::before {
    font-family: $nav-font-family;
    display: inline-block;
    box-sizing: border-box; // dunno why this makes a difference
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    width: 1.75rem;
    height: 1.75rem;
    cursor: pointer;
    font-size: 0;
    line-height: 0;
    vertical-align: bottom;
    background-color: transparent;
  }

  &::before {
    content: '​'; // zero-width space
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  &:hover {
    opacity: .8;
  }
}

button.facebook-share {
  &::before {
    // adamhooper6 downloaded and shrank this from Facebook 2016-04-25
    // Since it looks so huge, we shrink it a bit relative to its parent.
    box-sizing: border-box;
    border: .125rem solid transparent;
    background-image: asset-as-url('digest', 'images/facebook.svg');
  }
}

button.twitter-share {
  &::before {
    // adamhooper6 downloaded and shrank this from Twitter 2016-04-26
    // The aspect ratio is 0.81:1. These borders align it such that it looks
    // nice next to the Facebook logo.
    border-top: .19rem solid transparent;
    border-bottom: .19rem solid transparent;
    background-image: asset-as-url('digest', 'images/twitter.svg');
  }
}
