$background: #fff;
$alt-background: #f3f3f3;
$highlight-background: #f7f787;
$color: black;
$nav-background: #181818;
$nav-color: white;
$header-muted-color: #999;
$link-color: #6fa8bc;
$muted-color: #6a6969;
$very-muted-color: #ddd;
$very-very-muted-color: #e3e3e3;
$nav-font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
$body-font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
$header-font-family: ProximaNovaCond-Extrabld, Arial, Helvetica, sans-serif;

$strong-dem: #5c6b95;
$weak-dem: #9facd0;
$strong-gop: #bc5c5c;
$weak-gop: #bc8c8c;
$toss-up: $muted-color;
