@import '_variables.scss';
@import '_proxima-nova-condensed-extra-bold.scss';

$body-font-family: "NotoNashkArabic", "Helvetica Neue", "Helvetica", Roboto, Arial, sans-serif;
$state-width: 7rem;

html {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  background: $background;
  margin: 0 auto;
  padding: 0;
  font-family: $body-font-family;
  line-height: 1.4;
  overflow: hidden;
}

h1, h2, h3, h4 {
  font-family: $header-font-family;
  text-transform: uppercase;
  margin: 0;
  line-height: 1;
}

h1 {
  background: $alt-background;
  text-align: center;
  font-size: 1.4rem;
  padding: .5rem 0;
  .color-dem { color: $strong-dem; }
  .color-gop { color: $strong-gop; }
}

h2 {
  font-size: 1.7rem;
  margin-top: 1rem;
}

h3 {
  margin-top: 2rem;
  border-bottom: 1px solid $very-very-muted-color;
}

h1, h2, h3, h4, p, a {
  text-align: center;
}

p {
  margin: .5rem auto 1rem auto;
  line-height: 1.2;
  max-width: 17rem;
  font-size: .85rem;
  color: $muted-color;
}

a {
  color: $toss-up;
  text-decoration: underline;
}

footer, body>a {
  display: block;
  font-size: .7rem;
  text-transform: uppercase;
  margin: .5rem 0 0;
  color: $muted-color;
  text-align: center;
}

.president-summary {
  display: -webkit-flex;
  display: flex;
  &>* { -webkit-flex: 0 0 auto; flex: 0 0 auto; }

  margin-top: 1rem;
  font-family: $body-font-family;

  h4, strong {
    position: absolute;
    display: block;
  }

  $image-size: 4rem;
  $bar-height: 2rem;

  &>* {
    // position text absolutely, so it doesn't affect layout
    position: relative;

    &::before {
      content: '';
      position: absolute;
      background-size: 100%;
      bottom: $bar-height;
      height: $image-size;
      width: $image-size;
    }
  }

  .bar {
    margin-top: $image-size;
    height: $bar-height;
    outline: 1px solid $background;
  }

  h4 {
    position: absolute;
    font-size: 1.25rem;
    font-weight: bold;
    font-family: $header-font-family;
    top: .5rem;
    line-height: 1;
  }

  strong {
    position: absolute;
    top: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: $header-font-family;
    line-height: 1;
  }

  .clinton {
    .bar { background: $strong-dem; }
    strong { color: $strong-dem; }
    h4, strong { left: $image-size + .5rem; }
    &::before { left: 0; bottom: $bar-height; background-image: asset-url('digest', 'images/clinton-bust.jpg'); }
  }

  .trump {
    .bar { background: $strong-gop; }
    strong { color: $strong-gop; }
    h4, strong { right: $image-size + .5rem; }
    &::before { right: 0; background-image: asset-url('digest', 'images/trump-bust.jpg'); }
  }

  .tie {
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
  }
}

.president-races {
  $state-height: 2rem;
  $n-votes-square-width: 2rem;

  th {
    text-align: center;
    text-transform: uppercase;
    font-size: .6rem;
    line-height: 1.25;
    padding: .5rem 0;
    color: $muted-color;
  }

  table {
    border-collapse: collapse;
    margin-top: .5rem; // the <th> has the other .5rem
    width: 100%;
  }

  td {
    white-space: nowrap;
  }

  .state-name {
    width: $state-width;
    font-family: $header-font-family;
    font-weight: bold;
  }

  .n-votes {
    vertical-align: middle;
    text-align: center;

    .square-container {
      display: inline-block;
      width: $n-votes-square-width;
      height: $n-votes-square-width;
      text-align: center;
      vertical-align: middle;
      font-size: 0;
      line-height: $n-votes-square-width;
    }

    .square {
      display: inline-block;
      vertical-align: middle;
      height: 0;
    }

    .n {
      display: inline-block;
      color: $muted-color;
      font-size: .85rem;
      line-height: 1.5rem;
      padding-left: .25rem;
      vertical-align: middle;
    }
  }

  td {
    // No horizontal padding. As for vertical: that's built in, with the .n-votes .square.
    padding: 0;
  }

  tr.lean-clinton {
    .square { background-color: $strong-dem; }
    .lead { color: $strong-dem; }
  }

  tr.lean-trump {
    .square { background-color: $strong-gop; }
    .lead { color: $strong-gop; }
  }

  td.lead {
    text-align: center;
    font-weight: bold;
    font-size: .85rem;
    line-height: 1.5rem;
  }

  .lead {
    border-left: 1px solid $very-very-muted-color;
  }
}

h2.senate {
  margin-top: 2rem;
}

.senate-summary {
  display: -webkit-flex;
  display: flex;
  &>* { -webkit-flex: 0 0 auto; flex: 0 0 auto; }

  margin-top: 1rem;
  padding-bottom: 2rem; // .what-happens-if-tied is position: absolute
  font-family: $body-font-family;

  &>* {
    height: 6rem;
    position: relative;
  }

  .name, .what-happens-if-tied {
    line-height: .75rem;
    font-size: .75rem;
  }

  .name {
    box-sizing: border-box;
    height: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  .icon {
    height: 2rem;
    margin: .25rem 0;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .percent {
    font-family: $header-font-family;
    height: 2rem;
    box-sizing: border-box;
    font-size: 1.2rem;
    line-height: 1;
    padding: .5rem .2rem .3rem; // more padding on top than bottom because nothing drops below baseline
    color: white;
    font-weight: bold;
    outline: 1px solid $background;
    text-align: center;

    &.thin { // set in JS
      font-family: $header-font-family;
      font-size: .6rem;
      padding-top: .8rem;
    }

    &.very-thin { // set in JS
      color: transparent;
    }
  }

  .what-happens-if-tied {
    position: absolute;
    bottom: -2rem;
    left: -2rem;
    right: -2rem;
    text-align: center;
    font-style: italic;
    color: $toss-up;
  }

  .prob-dem .name {
    padding-top: .75rem;
    color: $strong-dem;
    text-align: left;
  }

  .prob-dem .icon {
    background-image: asset-as-url('digest', 'images/dem.svg');
    background-position: bottom left;
  }

  .prob-tie .name {
    color: $toss-up;
    text-align: center;
  }

  .prob-tie .icon {
    background-image: asset-as-url('digest', 'images/tie.svg');
    background-position: bottom center;
  }

  .prob-gop .name {
    color: $strong-gop;
    text-align: right;
    padding-top: .75rem;
  }

  .prob-gop .icon {
    background-image: asset-as-url('digest', 'images/gop.svg');
    background-position: bottom right;
  }

  .prob-dem .percent { background: $strong-dem; }
  .prob-tie .percent { background: $toss-up; }
  .prob-gop .percent { background: $strong-gop; }
}
